* {
    font-family: copperplate;
    letter-spacing: 2px;
    text-shadow: #191970;
}

body {
    border: 5px #ccc solid;
    padding: 20%
}

#body-style {
    background-color: #FFE4E1;
    border: 2px #191970 solid;
    border-radius: 3%;
    opacity: 90%;
}

h1 {
    text-align:center;
}

header #head1 {
    font-size: 40px;
    font-family: copperplate;
    letter-spacing: 3px;
}

#function-buttons {
    display: flex;
    margin: 20px;
    padding: 5px;
    justify-content: space-around;
    
}

#function-button div {

}

#personal-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px #ccc solid;
    border-radius: 2%;
    opacity: 95%;
}
#personal-info div {
    border: 1px #ccc solid;
    opacity: 90%;
}

#personal-info h2 {
    text-align: center;
}

.coindesk-bpi-info {
    border: 1px #ccc solid;
    border-radius: 2%;
    padding: 10px;
}

.coindesk-bpi-info div {
    border: 1px #ccc solid;
    opacity: 70%;
    
}

.info-head {
    display: flex;
    justify-content: space-evenly;
}

.info-body {
    display: flex;
    justify-content: center;
}

.info-foot {
    display: flex;
    justify-content: center;
}

#transfer-funds {
    height: 40px;
    width: auto;
    border: 2px solid rgba();
    border-radius: 4px;
}
